{% extends 'base.html' %}

{% block title %}
Аккаунт користувача
{% endblock %}


{% block body %}
    <style>
    #acc{
        padding: 5%;
    }
    #acc>div{
        margin-top: 25px;
    }
    #acc>a{
       margin-top: 25px;
    }
    span{
        font-size: 14px;
    }

    </style>
    <div id="acc" class="bg-body-secondary" >
        <div class="text-center" style="display: inline-block">
            <h1>Акаунт користувача</h1>
        </div><br>
        <div>
            <span>ПІБ</span>
            <span><strong>{{ user.name }}</strong></span><br>
        </div>
        <div>
            <span>Email</span>
            <span><strong>{{ user.email }} </strong></span><br>
        </div>
        <div>
            <span>Телефон</span>
            <span><strong>{{ user.phone }}</strong></span><br>
        </div>
        <a class="btn btn-primary" href="/usertickets">Мої квитки</a>
        <a class="btn btn-primary" href="/exit">Вийти</a>
    </div>
{% endblock %}