{% extends 'baseadmin.html' %}

{% block title %}
Адмінпанель
{% endblock %}


{% block body %}

    <div class="my-5 ">
        <div class="bg-body-secondary my-5 text-center" style="padding: 30px">
            <a href="/addbus" class="btn btn-primary">Додати автобус</a>
            <a href="/addcity" class="btn btn-primary">Додати місто</a>
            <a href="/addjourney" class="btn btn-primary">Додати маршрут</a>
        </div>
        <div class="bg-body-secondary my-5 text-center" style="padding: 30px">
            <a href="/update" class="btn btn-danger">Видалити автобус</a>
            <a href="/update" class="btn btn-danger">Видалити місто</a>
            <a href="/update" class="btn btn-danger">Видалити маршрут</a>
            <a href="/killuser" class="btn btn-danger">Видалити квиток</a>
        </div>
        <div class="bg-body-secondary my-5 text-center" style="padding: 30px">
            <a href="/update" class="btn btn-alert">Оновити записи</a>
            <a href="/addadmin" class="btn btn-primary">Додати адміна</a>
            <a href="/killuser" class="btn btn-primary">Видалити користувача</a>

        </div>
     </div>
     <div class="bg-body-secondary my-5 text-center" style="padding: 30px">
        <a href="/home" class="btn btn-primary">На головну</a>
     </div>

{% endblock %}