{% extends 'base.html' %}

{% block title %}
Розклад автобусів
{% endblock %}

{% block body %}
    <style>
    td{
        justify-content: center;
    }
    </style>
    <!--<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Отримуємо всі форми на сторінці
        var forms = document.querySelectorAll('form');

        // Додаємо обробник подій для кожної форми
        forms.forEach(function(form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData(form);

                fetch('/selectplace/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        console.error('Помилка: ' + response.status);
                    }
                })
                .then(html => {
                    // Оновлюємо вміст поточної сторінки з отриманим HTML
                    document.body.innerHTML = html;
                })
                .catch(error => {
                    console.error('Помилка виконання запиту:', error);
                });
            });
        });
    });
</script>-->
    <script>
    function submitForm(index) {
        let nameForm="buyTicketForm"+ ind.toString()
        //if starttime
        document.getElementById('buyTicketForm').submit();
    }

    async function redirectToSelect() {
        const itemSort = document.querySelector('select[name="item_sort"]').value;
        const direction = document.querySelector('select[name="direction"]').value;
        const citystart = document.querySelector('select[name="citystart"]').value;
        if (document.querySelector('input[name="cityfinish"]').value){
            const cityfinish = document.querySelector('select[name="cityfinish"]').value;
        }
        if (document.querySelector('input[name="starttime"]').value){
            const starttime = document.querySelector('select[name="starttime"]').value;
            let hiddinpstarttime=document.querySelector('input[name="starttime"]')
            hiddinpstarttime.value=starttime
        }
        if (document.querySelector('input[name="finishtime"]').value){
            const finishtime = document.querySelector('select[name="finishtime"]').value;
            let hiddinpfinishtime=document.querySelector('input[name="finishtime"]')
            hiddinpfinishtime.value=finishtime
        }
        //alert("POST")
        const formData = new FormData();
        formData.append('item_sort', itemSort);
        formData.append('direction', direction);
        formData.append('citystart', citystart);
        if (document.querySelector('input[name="cityfinish"]').value){
            formData.append('cityfinish', cityfinish);
        }
        if (document.querySelector('input[name="starttime"]').value){
            formData.append('starttime', starttime);
        }
        if (document.querySelector('input[name="finishtime"]').value){
            formData.append('finishtime', finishtime);
        }
        try {
            const response = await fetch('/journeys', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                // Перезавантаження сторінки після успішної відправки POST-запиту
                window.location.href='/journeys';
                window.location.reload();
            } else {
                // Обробка помилок
                console.error('Помилка при відправці POST-запиту');
            }
        } catch (error) {
            console.error('Помилка при виконанні fetch:', error);
        }
    }

</script>
    <div class=" text-center bg-body-secondary" style="margin-top: 25px !important;">
        <div class="container py-3">
            <h1>Розклад всіх автобусів</h1>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="my-5 ">
        <form class="form-control bg-body-secondary">
            <div class="row text-center">
            <h3>Фільтр</h3>
                <div class="col-md-11 themed-grid-col" style="padding: 5px">
                    <div class="row justify-content-center">
                        <div class="col-md-1 themed-grid-col">
                            <select name="citystart" class="form-select" required>
                                <option>Відправляємся з</option>
                                {% for city in cities %}
                                    <option>{{ city.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 themed-grid-col">
                            <select name="cityfinish" class="form-select" required>
                                <option>Їдем в</option>
                                {% for city in cities %}
                                    <option>{{ city.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 themed-grid-col">
                                <select name="item_sort" class="form-select" required>
                                    <option>Назва автобусу</option>
                                    <option>За іменем міста відправлення</option>
                                    <option>За іменем міста прибуття</option>
                                    <option>За часом відправлення</option>
                                    <option>За часом прибуття</option>
                                </select>
                        </div>
                        <div class="col-md-2 themed-grid-col">
                            <select name="direction" class="form-select" required>
                                    <option>По спаданню</option>
                                    <option>По зростанню</option>
                            </select>
                        </div>
                        <div class="col-md-1 themed-grid-col" >Відправлення від</div>
                        <div class="col-md-2 themed-grid-col">
                            <input class="form-select" type="datetime-local" name="starttime" id="startinput">
                        </div>
                        <div class="col-md-1 themed-grid-col" style="margin-top: 6px">До</div>
                        <div class="col-md-2 themed-grid-col">
                            <input class="form-select" type="datetime-local" name="finishtime" id="finishinput">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 themed-grid-col" style="padding: 5px">
                    <button class="btn btn-primary" type="submit" id="btn_sort" onclick="redirectToSelect()">Фільтрувати</button>
                </div>
            </div>
        </form>
    </div>
    {% if table is none %}
        <script>
            //alert('1')
        </script>
        <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example m-0 border-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Автобус</th>
                        <th scope="col">Місто відправлення</th>
                        <th scope="col">Місто прибуття</th>
                        <th scope="col">Час відправлення</th>
                        <th scope="col">Час прибуття</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Замовити</th>
                    </tr>
                </thead>

                <tbody>
                    {% for journey in journeys %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            {% for bus in buses %}
                                {% if journey.bus_id == bus.id_bus %}
                                    {{ bus.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for city in cities %}
                                {% if journey.city_start_id == city.id_city %}
                                    {{ city.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for city in cities %}
                                {% if journey.city_finish_id == city.id_city %}
                                    {{ city.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ journey.time_start }}</td>
                        <td>{{ journey.time_finish }}</td>
                        <td>{{ journey.cost }}</td>
                        <td>
                            {% if user is not none %}
                            <a class="btn btn-primary" onclick="submitForm({{ loop.index }})">Купити</a>
                            {% endif %}
                            {% if user is none %}
                            <a class="btn btn-primary" href="/loginselect">Ввійти</a>
                            {% endif %}

                            <form id="buyTicketForm{{ loop.index }}" action="" method="post" style="display: none;">
                                <input type="hidden" name="citystart" value="{{ citystart }}">
                                <input type="hidden" name="cityfinish" value="{{ cityfinish }}">
                                <input type="hidden" name="starttime" value="">
                                <input type="hidden" name="finishtime" value="">
                            </form>


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    {% endif %}
    {% if table is not none %}

        <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example m-0 border-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Автобус</th>
                        <th scope="col">Місто відправлення</th>
                        <th scope="col">Місто прибуття</th>
                        <th scope="col">Час відправлення</th>
                        <th scope="col">Час прибуття</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Замовити</th>
                    </tr>
                </thead>

                <tbody>
                    {% for tab in table %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                             {{ tab.bus_name }}
                        </td>
                        <td>
                            {{ tab.start_city }}
                        </td>
                        <td>
                            {{ tab.finish_city }}
                        </td>
                        <td>{{ tab.time_start }}</td>
                        <td>{{ tab.time_finish }}</td>
                        <td>{{ tab.cost }}</td>
                        <td>
                            {% if user is not none %}
                            <a class="btn btn-primary" onclick="">Купити</a>
                            {% endif %}
                            {% if user is none %}
                            <a class="btn btn-primary" href="/loginselect">Ввійти</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
